{% extends "layout/master.html" %}
{% block title %}videos | Edit{% endblock %}
{% block body %}
  <h1>Welcome to mint, the new green.tv</h1>
  Here you can edit this video
  {{ message }}
  <form action="" method="post" enctype="multipart/form-data">
    <div><label for="video.name">Name</label><input name="video.name" value="{{ context.name }}" type="text" /></div>
    <div><label for="video.description">Description</label><textarea name="video.description"></textarea></div>
    <div><label for="video.tags">Tags</label><input name="video.tags" value="{% for tag in context.tags %}{{tag}}, {% endfor %}" type="text" /></div>
    <div><label for="video.file">Video File</label><input name="video.file" type="file" /></div>
    {% include 'widgets/sting_form.html' %}
    <input type="submit" />
  </form>
{% endblock %}
