{% extends "layout/master.html" %}
{% block title %}home | Set Default Video{% endblock %}
{% block body %}
  <h1>Set Default Video</h1>
  {{ message }}
  <form action="" method="post">
    <div>
      <input type="hidden" name="video.name.current" value="{{context.default_video}}" />
      <label for="video.name">name</label>
      <select name="video.name">
        {% for video in videos %}
          <option value="{{video.__name__}}">{{video.name}}</option>
        {% endfor %}
      </select>
    </div>
    <input type="submit" />
  </form>
{% endblock %}
