{% extends "layout/master.html" %}
{% block title %}videos | Add Video{% endblock %}
{% block body %}
  <h1>Welcome to mint, the new green.tv</h1>
  Here you can add a video
  {{ message }}
  <form action="" method="post">
    <div><label for="video.name">name</label><input name="video.name" type="text" /></div>
    <div><label for="video.description">description</label><textarea name="video.description"></textarea></div>
    <div><label for="video.tags">tags</label><input name="video.tags" type="text" /></div>
    <input type="submit" />
  </form>
{% endblock %}
